<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autocomplete="off" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="off" required>
        <button type="submit">Login</button>
    </form>
    <div th:if="${param.error}" class="error-message">Invalid username or password.</div>
    <div th:if="${param.logout}" class="logout-message">You have been logged out.</div>
</body>

</html>