img {
    max-width: 90%;
    height: auto;
}

button {
    background: #28a745;
    margin-top: 10px;
}

p {
    color: red;
    margin-top: 10px;
}

/* Mobile responsive overrides */
@media (max-width: 600px) {
    img {
        max-width: 100%;
    }
}