
h2 {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    margin: 5px;
}

button {
    background: #007bff;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.logout-message {
    color: green;
    margin-top: 10px;
}
